<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body">
            <h4 class="card-title">Striped Progress bar</h4>
            <div class="progress m-t-20">
              <!-- <div [style.width]="getPercent" class="progress-bar bg-primary progress-bar-striped active" style="height:5px;" role="progressbar"></div> -->
              <!-- <div [style.width]="getPercent" class="progress-bar bg-info progress-bar-striped active" style="height:5px;" role="progressbar"></div> -->
          </div>
          </div>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="cardbody"> 
        <app-increaser [progress]="15"></app-increaser>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="cardbody">
        <app-increaser></app-increaser>
      </div>
    </div>
  </div>
</div>